$max-width: 1164px;

$color-base-blue: #1e92fa;
$color-base-dark: #000000;
$color-base-gray: #f0f3fc;
$color-base-light: #ffffff;

$color-background: #f0f3fc;

$color-font-blue: #1e92fa;
$color-font-dark: #000000;
$color-font-light: #ffffff;
$color-font-disabled: #d4d3d3;

$color-buttons: #1e92fa;
$color-buttons-disabled: rgb(158, 157, 157);

$color-link: #1e92fa;
$color-buttons-lk: #C8E2FF;
$color-gray-lk: #52575C;
$color-week-sc: #57C238;
$color-week-fl: #FA7D98;
$color-week-df: #C8E2FF;
$color-font-yellow: #F9AA34;

$color-buttons-lk: #c8e2ff;


$color-base-error: red;
